---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SOCIALS } from "@config";
import { Image } from "astro:assets";
import salomonImage from "../assets/images/salomon.jpg";
import franco from "../assets/images/franco_cut.webp";
import luca from "../assets/images/luca_cut.webp";

const posts = await getCollection("blog");
const nows = await getCollection("now");
const sortedPosts = getSortedPosts(posts);
const sortedNows = nows.sort((a, b) => b.data.date - a.data.date);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <div class="flex w-full items-center justify-between pb-4">
        <h1 class="ml-3 flex-1">Salomón Muriel</h1>
        <div class="flex flex-1 items-center justify-center">
          <Image
            src={salomonImage}
            alt="Salomón Muriel"
            class="size-20 rounded-full sm:size-28"
          />
        </div>
      </div>
      <p class="pb-1">
        I'm a serial tech entrepreneur with 4 companies and 2 exits under my
        belt. I consider myself a maker first and foremost.
      </p>
      <p class="pb-1">
        I'm a leading data scientist who loves to make through data and
        innovation.
      </p>
      <p class="pb-1">
        I'm the father of super-twins, Luca & Franco{" "}
        <span class="group inline-block"
          >👶👶
          <Image
            src={franco}
            alt="Franco"
            class="group fixed -right-full bottom-0 max-h-[50%] w-auto group-hover:animate-slide-in-out-r"
          />
          <Image
            src={luca}
            alt="Luca"
            class="group fixed -left-full bottom-0 max-h-[50%] w-auto group-hover:animate-slide-in-out-l"
          />
        </span>.
      </p>
      <p class="pb-1">
        I occasionally write my thoughts on Entrepreneurship, Coding & Tech,
        Data Science, and whatever else comes to mind.
      </p>
      <p class="font-bold">
        I'm always eager to meet creative, interesting, innovative people.
        Please don't doubt to contact me 👇 WhatsApp or LinkedIn are best.
      </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    {
      nows.length > 0 && (
        <>
          <section id="now">
            <h2>Now</h2>
            Updates on what's happening in my life... right now.
            <h3 class="text-lg font-medium text-skin-accent">Latest Update</h3>
            <ul>
              <li>
                <a
                  href={"/now"}
                  class="text-lg font-medium decoration-dashed underline-offset-4 hover:underline focus-visible:no-underline focus-visible:underline-offset-0"
                >
                  {nows[0].data.header}
                </a>
              </li>
            </ul>
            <h3 class="text-lg font-medium text-skin-accent">Previous</h3>
            <ul>
              {nows.map(
                ({ data, slug }, index) =>
                  index < 4 &&
                  index > 0 && (
                    <li>
                      <a
                        href={`/before/${slug}`}
                        class="text-lg font-medium decoration-dashed underline-offset-4 hover:underline focus-visible:no-underline focus-visible:underline-offset-0"
                      >
                        {data.header}
                      </a>
                    </li>
                  )
              )}
            </ul>
            <div class="all-posts-btn-wrapper">
              <LinkButton href="/before/">
                All Previous Updates
                <svg xmlns="http://www.w3.org/2000/svg">
                  <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
                </svg>
              </LinkButton>
            </div>
          </section>
          <Hr />
        </>
      )
    }

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Recent Posts</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < 4 && (
                  <Card
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    {
      sortedPosts.length > 0 && (
        <div class="all-posts-btn-wrapper">
          <LinkButton href="/posts/">
            All Posts
            <svg xmlns="http://www.w3.org/2000/svg">
              <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
            </svg>
          </LinkButton>
        </div>
      )
    }
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-4xl font-bold sm:my-8 sm:text-6xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts,
  #now {
    @apply pb-6 pt-6;
  }
  #featured h2,
  #recent-posts h2,
  #now h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-4 text-center;
  }
</style>
