---
import { type CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card.astro";
import Pagination from "@components/Pagination.astro";
import { SITE } from "@config";
import { t } from "@i18n/utils";
import type { Lang } from "@i18n/ui";
import { defaultLang } from "@i18n/ui";
import getReadingTime from "@utils/getReadingTime";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
  tag: string;
  tagName: string;
  lang?: Lang;
}

const {
  currentPage,
  totalPages,
  paginatedPosts,
  tag,
  tagName,
  lang = defaultLang,
} = Astro.props;
---

<Layout
  title={`${t(lang, "tags.prefix")} ${tagName} | ${SITE.title}`}
  lang={lang}
>
  <Header activeNav="tags" lang={lang} />
  <Main
    pageTitle={[`${t(lang, "tags.prefix")}`, `${tagName}`]}
    titleTransition={tag}
    pageDesc={`${t(lang, "tags.allArticles")} "${tagName}".`}
  >
    <h1 slot="title" transition:name={tag}>
      {`${t(lang, "tags.prefix")}${tag}`}
    </h1>
    <ul>
      {
        paginatedPosts.map(({ data, id, body }) => (
          <Card
            href={`/${lang}/posts/${id}/`}
            frontmatter={data}
            readingTime={`${getReadingTime(body)} ${t(lang, "readingTime.suffix")}`}
          />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/${lang}/tags/${tag}${
      currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""
    }/`}
    nextUrl={`/${lang}/tags/${tag}/${currentPage + 1}/`}
    lang={lang}
  />

  <Footer noMarginTop={totalPages > 1} lang={lang} />
</Layout>
