---
import { SITE } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "./Layout.astro";
import type { CollectionEntry } from "astro:content";
import Datetime from "@components/Datetime";
import { YouTube } from "astro-embed";

export interface Props {
  presentation: CollectionEntry<"talks">;
}

const { presentation } = Astro.props;
const { Content } = await presentation.render();
const html_path = `../../talks/${presentation.id.replace(".md", ".html")}`;
const pdf_path = `../../talks/${presentation.id.replace(".md", ".pdf")}`;
---

<Layout title={`${SITE.title}`}>
  <Header activeNav="talks" />
  <Breadcrumbs />
  <main id="main-content">
    <section class="prose mb-10 max-w-4xl">
      <h1>{presentation.data.title}</h1>
      <Datetime
        className="text-skin-base"
        pubDatetime={presentation.data.pubDatetime}
        modDatetime={presentation.data.modDatetime}
      />
      <p>{presentation.data.description}</p>
      {!presentation.data.marp && <Content />}
    </section>
    <section class="flex flex-col items-center">
      {
        presentation.data.youtube && (
          <YouTube
            class="w-full border-2 mb-8"
            id={presentation.data.youtube}
          />
        )
      }
      {
        presentation.data.marp && (
          <iframe src={html_path} class="h-64 w-full border-2 sm:h-96" />
        )
      }
      {
        presentation.data.embed_pdf && (
          <object
            data={pdf_path}
            type="application/pdf"
            class="h-64 w-full border-2 sm:h-96"
          >
            <span class="flex flex-col items-center justify-center align-middle text-center h-full">
              <p>
                It appears you can't preview PDFs in this browser (probably
                Chrome on Android?)
              </p>
              <br />
              <p>Download the PDF to view it with the button below 🔽 </p>
            </span>
          </object>
        )
      }
      {
        (presentation.data.marp || presentation.data.pdf) && (
          <a
            class="mb-8 mt-4 rounded-md border-2 border-skin-accent px-4 py-2 text-xl font-bold hover:bg-skin-accent hover:text-skin-base"
            href={pdf_path}
            download
          >
            Download PDF
          </a>
        )
      }
    </section>
  </main>
  <Footer />
</Layout>
